.output-error {
  margin: 40px;
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  pre {
    font-size: 1.5rem;
  }
}

// .home-container {
//   display: flex;
// }

// .wrapper {
//   width: 100%;
// }

/* Import Styles */
@import "./_root";
@import "./_sidebar-menu";
// @import "./challengers/_cssgrid";
// @import "./challengers/_cssgridpractice";
// @import "./challengers/_testimonials";
