extends layout

block content
  h1(class="title")= title
  p(class="sub-title") Box Model
  div(class="contenedor-cssgrid box-grid")
    div 1
    div 2
    div 3
    div 4
    div 5
    div 6
    div 7
    div 8
    div 9
    div 10
    div 11
    div 12
  p(class="sub-title") Property repeat
  div(class="contenedor-cssgrid box-grid-repeat")
    div 1
    div 2
    div 3
    div 4
    div 5
    div 6
    div 7
    div 8
    div 9
    div 10
    div 11
    div 12    
  p(class="sub-title") Properties MIN and MAX
  div(class="contenedor-cssgrid box-grid-min-max")
    div 1
    div 2
    div 3
    div 4
    div 5
    div 6
    div 7
    div 8
    div 9
    div 10
    div 11
    div 12
  p(class="sub-title") Positions
  div(class="contenedor-cssgrid box-grid-positions")
    div(class="item1") 1
    div(class="item2") 2
    div 3
    div 4
    div 5
    div(class="item6") 6
    div 7
    div 8
    div 9
    div 10
    div 11
    div 12
  p(class="sub-title") Grid Areas
  div(class="contenedor-cssgrid box-grid-areas")
    div(class="navbar") navbar
    div(class="main") main
    div(class="sidebar") sidebar
    div(class="content1") content1
    div(class="content2") content2
    div(class="content3") content3
    div(class="footer") footer