extends layout

block content
  h1(class="title")= title
  div(class="gr-contenedor")
    div(class="header") Header
    div(class="sidebar-left") sidebar-left
    div(class="container") container
    div(class="sidebar-right") sidebar-right
    div(class="widget") widget
    div(class="footer") Footer