doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="home-container")
      nav(class="home-menu")
        span Menu
        ul
          li
            a(href="/cssgrid") CssGrid
          li
            a(href="/cssgridpractice") CssGrid-Practice
      div(class="wrapper")          
        block content
